*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 260px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.card{
    background-color: hsl(0, 0%, 100%);
    width: 280px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
}

body{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

h3{
    font-size: 17px;
    padding-bottom: 5px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.textos{
    position: relative;
    bottom: 30px;
    line-height: 18px;
}

